name: Test

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - name: Run tests
      run: make test
    # - name: Upload code coverage report to Code Climate
    #   uses: paambaati/codeclimate-action@v2.7.5
    #   env:
    #     CC_TEST_REPORTER_ID: 818f46d463e8fffd6bc6358f89a4d29f80a11806162dcb03c630b3cbec2aeccc
    #   with:
    #     coverageLocations: cover.out:gocov
    #     prefix: github.com/${{ github.repository }}
